DATABASE_URL="postgresql://bornali:quadir@localhost:5434/shazan?schema=public"
MAIL_PASS="qs-f zonx xhry tpj-"
MAIL_USER="shazan.softvence@gmail.com"
PORT=3000
JWT_SECRET="BY-BENCH-MARKTER-PLACE-NEST-BACKEND"
NODE_ENV="production"


CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_

PLATFORM_FEE_PERCENT=10
FRONTEND_URL=https://